/* screen - chat-page */

.chat-page {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  width: 1440px;
}

.chat-page .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 34px;
  min-height: 840px;
  width: 307px;
}

.chat-page .overlap-group11 {
  height: 97px;
  margin-right: 0.15px;
  position: relative;
  width: 289px;
}

.chat-page .jungle3-1 {
  height: 5.5rem;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 17rem;
}

.chat-page .title {
  color: #20316ee8;
  font-family: var(--font-family-now-bold);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  left: 96px;
  letter-spacing: -0.72px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 193px;
}

.chat-page .about-me {
  height: 389px;
  margin-top: 51px;
  width: 307px;
}

.chat-page .nav {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 9.0px;
  margin-top: 50px;
  min-height: 253px;
  width: 234px;
}

.chat-page .chat-container {
  height: 43px;
  margin-left: 2.76px;
  position: relative;
  width: 185px;

}

.chat-page .chat {
  height: 33px;
  left: 1px;
  letter-spacing: -0.36px;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 184px;
  display: flex;

}
.linkGroups,
.linkChat {
  height: 3rem;
  text-align: center;
  color: #223172;
}

.linkGroups {
  padding: 0.5rem 0 0 1rem;
}

.linkChat {
  padding: 0.5rem 0;
}

.chat-page .x-icon {
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}

.chat-page .group-container {
  height: 50px;
  margin-left: 4px;
  margin-top: 51px;
  position: relative;
  width: 224px;
}

.chat-page .groups {
  height: 39px;
  left: 8px;
  letter-spacing: -0.36px;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 216px;
}

.chat-page .logout-container {
  height: 50px;
  margin-top: 52px;
  position: relative;
  width: 225px;
}

.chat-page .logout {
  height: 39px;
  left: 9px;
  letter-spacing: -0.36px;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 216px;
}

.chat-page .flex-row {
  align-items: flex-start;
  display: flex;
  margin-left: 12px;
  min-width: 1101px;
}

.chat-page .line-left {
  height: 1024px;
  width: 1px;
}

.chat-page .overlap-group12 {
  align-items: center;
  background-color: #f8f7f7;
  display: flex;
  margin-left: 1px;
  min-width: 1099px;
  padding: 0 28px;
}

.chat-page .flex-col-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 14.0px;
  min-height: 946px;
  width: 602px;
}

.chat-page .search {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 96px;
  width: 592px;
}

.chat-page .search-container {
  background-color: var(--white);
  border-radius: 28px;
  height: 56px;
  position: relative;
  width: 590px;
}

.chat-page .search-for-friends {
  color: #bababa;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 500;
  height: 40px;
  left: 27px;
  letter-spacing: -0.27px;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 231px;
}

.chat-page .search-icon {
  height: 24px;
  left: 27px;
  position: absolute;
  top: 16px;
  width: 24px;
}

.chat-page .line-under-search {
  height: 1px;
  margin-top: 39px;
  width: 590px;
}

.chat-page .chat-box {
  align-items: flex-end;
  background-image: url(../img/chat-rectangle@1x.svg);
  background-size: 100% 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin-right: 2px;
  margin-top: 26px;
  min-height: 824px;
  padding: 24px 12px;
  width: 600px;
  height: calc(50vh - 40px);
  position: relative;
}

.chat-page .received-message-1 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-top: 22px;
  min-width: 420px;
}

.chat-page .ellipse-1 {
  height: 54px;
  object-fit: cover;
  width: 54px;
}

.chat-page .overlap-group6 {
  align-items: center;
  background-image: url(../img/rectangle-5-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  min-height: 60px;
  justify-content: flex-end;
  margin-left: 21px;
  min-width: 343px;
  /* overflow-y: auto; */
  padding: 0 7px;
}

.chat-page .where-are-the-user-stories {
  height: 32px;
  letter-spacing: -0.27px;
  width: 317px;
}

.chat-page .overlap-group5 {
  align-items: center;
  background-image: url(../img/rectangle-4@2x.svg);
  background-size: cover;
  display: flex;
  min-height: 60px;
  justify-content: flex-end;
  margin-right: 25px;
  margin-top: 72px;
  min-width: 305px;
  /* overflow-y: auto; */
  padding: 0 14px;
}

.chat-page .check-the-documentation {
  height: 44px;
  letter-spacing: -0.27px;
  text-align: center;
  width: 275px;
}

.chat-page .received-message-2 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-top: 33px;
  min-width: 420px;
}

.chat-page .overlap-group8{
  height: 391px;
  left: 1028px;
  position: absolute;
  top: 563px;
  width: 361px;
}

.chat-page .overlap-group9::-webkit-scrollbar{
  display: none;
}

.chat-page .overlap-group9{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat-page .overlap-group4 {
  align-items: center;
  background-image: url(../img/rectangle-5-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  margin-left: 21px;
  min-width: 343px;
  padding: 0 12px;
}

.chat-page .what-are-the-naming-conventions {
  height: 32px;
  letter-spacing: -0.27px;
  text-align: center;
  width: 317px;
}

.chat-page .overlap-group3 {
  align-items: center;
  background-image: url(../img/rectangle-4@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  margin-right: 25px;
  margin-top: 51px;
  min-width: 305px;
  padding: 0 14px;
}

.chat-page .received-message-3 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-top: 51px;
  min-width: 382px;
}

.chat-page .overlap-group2 {
  align-items: center;
  background-image: url(../img/rectangle-5@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 60px;
  margin-left: 21px;
  min-width: 305px;
  padding: 0 14px;
}

.chat-page .im-not-seeing-the-updates {
  height: 32px;
  letter-spacing: -0.27px;
  text-align: center;
  width: 264px;
}

.chat-page .overlap-group1 {
  align-items: center;
  background-image: url(../img/rectangle-4@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  margin-right: 27px;
  margin-top: 57px;
  min-width: 305px;
  padding: 0 14px;
}

.chat-page .flex-row-1 {
  align-items: flex-start;
  display: flex;
  margin-right: 6px;
  margin-top: 0px;
  min-width: 552px;
}

.chat-page .input-box{
  border: none;
  border-color: transparent;
  outline: none;
  height: 45px;
  min-width: 430px;
}

.chat-page .overlap-group {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid #ced4da;
  border-radius: 10px;
  display: flex;
  height: 45px;
  min-width: 469px;
  padding: 8px 17px;
}

.chat-page .write-a-message {
  color: #bababa;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 500;
  height: 27px;
  letter-spacing: -0.27px;
  width: 344px;
}

.chat-page .send-button {
  align-items: flex-start;
  background-color: #f47736;
  border-radius: 10px;
  display: flex;
  height: 45px;
  margin-left: 17px;
  min-width: 66px;
  padding: 8px 19px;
}

.chat-page .send-icon {
  height: 28px;
  width: 28px;
}

.chat-page .line-right {
  height: 1024px;
  margin-left: 38px;
  width: 1px;
}

.chat-page .overlap-group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 9.0px;
  min-height: 941px;
  width: 358px;
}

.chat-page .overlap-group1-1 {
  height: 445px;
  position: relative;
  width: 358px;
}
.overflowprop {
 height: 300px;
 max-height: 300px;
 width:300px;
 overflow-y: auto;
}
.chat-page .x-rectangle {
  background-color: var(--white);
  border-radius: 15px;
  height: 445px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 348px;
}

.chat-page .friend-3 {
  align-items: center;
  display: flex;
  height: 57px;
  left: 53px;
  min-width: 243px;
  position: absolute;
  top: 291px;
}

.chat-page .friend {
  height: 57px;
  object-fit: cover;
  width: 57px;
}

.chat-page .name {
  height: 31px;
  letter-spacing: -0.33px;
  margin-left: 5px;
  text-align: center;
  width: 179px;
}

.chat-page .friend-2 {
  align-items: center;
  display: flex;
  height: 57px;
  left: 53px;
  min-width: 273px;
  position: absolute;
  top: 205px;
}

.chat-page .name-1 {
  height: 31px;
  letter-spacing: -0.33px;
  margin-left: 11px;
  margin-top: 8.0px;
  text-align: center;
  width: 203px;
}

.chat-page .friend-1 {
  align-items: center;
  display: flex;
  height: 57px;
  left: 53px;
  min-width: 243px;
  position: absolute;
  top: 116px;
}

.chat-page .briel-larson {
  height: 31px;
  letter-spacing: -0.33px;
  margin-left: 5px;
  text-align: center;
  width: 179px;
}

.chat-page .friends-icon {
  height: 40px;
  left: 294px;
  position: absolute;
  top: 22px;
  width: 40px;
}

.chat-page .friends {
  color: var(--astronaut);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 700;
  height: 44px;
  left: 0;
  letter-spacing: -0.36px;
  position: absolute;
  text-align: center;
  top: 18px;
  width: 164px;
}

.chat-page .line {
  height: 1px;
  left: 36px;
  position: absolute;
  top: 73px;
  width: 298px;
}

.chat-page .overlap-group-1 {
  height: 445px;
  margin-top: 51px;
  position: relative;
  width: 358px;
}

.chat-page .name-2 {

  left: 40px;
  letter-spacing: -0.33px;
  position: absolute;
  top: 80px;
}

.chat-page .ellipse-1-1 {
  height: 54px;
  left: 36px;
  object-fit: cover;
  position: absolute;
  top: 110px;
  width: 54px;
}

.chat-page .line-under-search-1 {
  height: 1px;
  left: 39px;
  position: absolute;
  top: 73px;
  width: 298px;
}

.chat-page .group-icon {
  height: 40px;
  left: 284px;
  position: absolute;
  top: 15px;
  width: 40px;
}
.chat-page .chat-in-list{
  height: 40px;
  min-width: 221px;
  max-width: 9rem;
  align-items: center;
  display: flex;
  margin: 10px 0px 35px 15px;
}

.chat-page .chatGroupName{
  width: 338px;
  height: 345px;
  position: absolute;
  top: 95px;
  left: 17px;
}

.chat-page .people-in-chat {
  color: var(--astronaut);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 700;
  height: 44px;
  left: 0;
  letter-spacing: -0.36px;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 247px;
}
